

.studentName {
	
	float: left;
	background-color: #4aaaa5;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
    border-top: 0px;
	margin-left: 10%;
	padding: 32px;
	width:  250px;
}

.navLinks {
	float: right;
	margin-right: 15%
}

.nav li {
	display: inline;
}
.nav a {
	float: right;
	color: #777777;
	text-decoration: none;
	padding: 15px;
	margin-top: 20px;
	margin-right: 4px;
}



.mainSection {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	right: 0;
	left: 0;
	margin-top: 104px;
	background-image: url("bgroundImage.png");
	position: absolute;
	top 130px;
	height: 938px;
	width: 100%;
	border-bottom-color: #4aaaa5;
    border-bottom-width: 10px;
    border-bottom-style: solid;
}


form{
	
	margin-top: 3%;
	margin-left: 11%;
}


.connectWithMe{
	color: #4aaaa5;
	position: absolute;
        margin-left: 68%;
    background-color: white;
    padding-left: 35px;
    margin-right: 230px;
    margin-top: -233px;
    width: 200px;
    height: 135px;
    float: right;
	
	
}


.connectWithMe img{
	width: 50px;
	height: 50px;

}

.footerSection {
  	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #666666;
  	color: white;
  	text-align: center;
  }



h1 {
	color: #4aaaa5;
}


